In [3]:
import pandas as pd
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier

##### and

In [5]:
df_and = pd.DataFrame([[0,0,0],
                      [0,1,0],
                      [1,0,0],
                      [1,1,1]],
                     columns =["P","Q",'P and Q'])
#데이터 수집

In [6]:
df_and
#and 연산을 알고리즘을 통해 보여주기 위함

   P  Q  P and Q
0  0  0        0
1  0  1        0
2  1  0        0
3  1  1        1

In [11]:
 x = df_and.iloc[:,:2]
#iloc[행,열] 데이터프레임에서 인덱싱 
y = df_and.iloc[:,2]
#데이터 전처리(테스트 데이터 준비)

In [12]:
x

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [13]:
y

0    0
1    0
2    0
3    1
Name: P and Q, dtype: int64

In [14]:
knn_model = KNeighborsClassifier(n_neighbors=1)
#knn 내 주위 데이터중 몇개를 봐서 답을 정하는 알고리즘(최근접 이웃)
#지도학습이기 때문에 명백한 정답을 제시해주어야한다.
#n_neighbors = 내 주위 몇개의 데이터를 참조할지를 정하는 파라미터이다. 
#거리(?)를 계산해서 제일 유사한 데이터 1개를 가져옴

In [15]:
knn_model.fit(x,y)

KNeighborsClassifier(n_neighbors=1)

In [16]:
pre = knn_model.predict([[1,1],
                        [0,1],
                        [1,0],
                        [0,0]])
#pre값 하나하나가 다 구심점

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [17]:
answer = [1,0,0,0]

In [18]:
metrics.accuracy_score(pre,answer)
#정확도를 나타내는 함수 metrics.accuracy_score(예측값,정답값)

1.0

In [20]:
data2 = pd.DataFrame([[2,1,2],
                 [2,2,4],
                 [2,3,6],
                 [2,4,8]],
                columns=['a','b','c'])

In [21]:
data2

   a  b  c
0  2  1  2
1  2  2  4
2  2  3  6
3  2  4  8

In [22]:
 x1 = data2.iloc[:,:2]
y1 = data2.iloc[:,2]

In [23]:
x1

   a  b
0  2  1
1  2  2
2  2  3
3  2  4

In [24]:
y1

0    2
1    4
2    6
3    8
Name: c, dtype: int64

In [26]:
knn_model2=KNeighborsClassifier(n_neighbors=1)

In [44]:
knn_model2.fit(x1,y1)

KNeighborsClassifier(n_neighbors=1)

In [45]:
pre2=knn_model2.predict([[2,4],
                       [2,3],
                       [2,2],
                       [2,1]])

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [46]:
answer2 = [8,6,4,2]

In [47]:
metrics.accuracy_score(pre2,answer2)

1.0

##### xor

In [60]:
df_xor = pd.DataFrame([[0,0,0],
                      [0,1,1],
                      [1,0,1],
                      [1,1,0]],
                     columns=["P",'Q','P xor Q'])
#xor 알고리즘을 정의

In [61]:
df_xor

   P  Q  P xor Q
0  0  0        0
1  0  1        1
2  1  0        1
3  1  1        0

In [62]:
x2 = df_xor.iloc[:,:2]
y2 = df_xor.iloc[:,2]

In [63]:
x2

   P  Q
0  0  0
1  0  1
2  1  0
3  1  1

In [64]:
y2

0    0
1    1
2    1
3    0
Name: P xor Q, dtype: int64

In [65]:
knn_model3 = KNeighborsClassifier(n_neighbors=1)

In [66]:
knn_model3.fit(x2,y2)

KNeighborsClassifier(n_neighbors=1)

In [67]:
pre3 = knn_model3.predict([[1,1],
                    [0,1],
                    [1,0],
                    [0,0]])

C:\Users\user\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [68]:
answer3 = [0,1,1,0]

In [69]:
pre3

array([0, 1, 1, 0], dtype=int64)

In [70]:
metrics.accuracy_score(pre3,answer3)

1.0