In [1]:
import pandas as pd
import numpy as np

## 1.목적
- 네이버 영화리뷰 데이터 셋을 이요해서 긍정/부정 분류 모델 만들기

## 2.데이터 수집

In [2]:
df = pd.read_csv('ratings.txt',delimiter='\t')
df

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[200000 rows x 3 columns]

In [3]:
df.info()
#결측치 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        200000 non-null  int64
 1   document  199992 non-null  object
 2   label     200000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [4]:
df.dropna(inplace=True)
#결측치 제거

In [5]:
df

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2        4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3        9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4       10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1
...          ...                                                ...    ...
199995   8963373                                     포켓 몬스터 짜가 ㅡㅡ;;      0
199996   3302770                                              쓰.레.기      0
199997   5458175                  완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[199992 rows x 3 columns]

In [6]:
x = df['document']
y = df['label']
#x,y 데이터 할당

In [7]:
x

0                                       어릴때보고 지금다시봐도 재밌어요ㅋㅋ
1         디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...
2                      폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.
3         와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...
4                               안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.
                                ...
199995                                       포켓 몬스터 짜가 ㅡㅡ;;
199996                                                쓰.레.기
199997                    완전 사이코영화. 마지막은 더욱더 이 영화의질을 떨어트린다.
199998                  왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ
199999                                      포풍저그가나가신다영차영차영차
Name: document, Length: 199992, dtype: object

In [8]:
y

0         1
1         1
2         1
3         1
4         1
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: label, Length: 199992, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)
#데이터 분할, train,test size 디폴트값은 0.75,0.25

In [10]:
x_train

110572    남자인친구랑둘이갔다가엄청서먹해져서나왔네요진짜고역이였습니다 예고편엔 게이물인거 티도안...
101523                         뒤로 갈 수록 막장드라마식 전개 , 일본영화의 한계
148127                                      이런 거지같은 영화 보지마라
114485                 이젠 나올생각마요. 잘자요. 더이상 피해자들 스크레치남기지 마세요
119327                                 넓은 집 구경하다 영화 끝났다..;;
                                ...
149678                  2007년도 영화를 굳이 한국에서 지금 개봉할 필요가 있었을까?
57005                            거장은 우리를 실망시키지 않는다 역시 짐 자무시
73798     이제서야 영화를 봤다. 요즘의 덜떨어진 영화들. 특히 국내영화들을 보다 이것을 보니...
17572                                                 굿 굿 ㅎ
85771                            난 그냥 이영화가 정말 좋다 아련하고 따뜻한..
Name: document, Length: 149994, dtype: object

In [11]:
y_train

110572    0
101523    0
148127    0
114485    0
119327    0
         ..
149678    0
57005     1
73798     1
17572     1
85771     1
Name: label, Length: 149994, dtype: int64

In [12]:
x_test

197891                                 이 영화역시 개봉했다는 사실이 놀랍군
91404                                                   볼만함
85404        최고에요!반전도 있고,사랑도 있고재미도있네요.어릴 땐 무서웠지만 지금보니 재밌어요.
193859                                     이런 거 개봉하는 밝은 사회.
8601      눈아픈 액션보다 이게 훨낫다 생각을 하게하는영화인듯하고 평점이 생각이하다 나역시 평...
                                ...
183515    소재도 신선하고 긴장감은 좋으나 정말 뻔한 한국스릴러. 경찰도 이기고 몸에 불이 붙...
118874                       어른이 보기엔 너무 유치하고 뻔하다.. 어린이용 영화.
181471    전반적으로 드라마 스토리의 질을 높여야 한다. 공상소설이 아니고서는 그리고 말도안되...
167355             스릴러?긴장감은 전혀없는 최악의 영화 늙은 멕라이언 몸매도 못봐주것더구만
114981    딱 한마디면 된다. 총체적 난국.시작부터 배우들 연기에 실망하고, 뭐에 힘줘야할지 ...
Name: document, Length: 49998, dtype: object

In [13]:
y_test

197891    0
91404     1
85404     1
193859    0
8601      1
         ..
183515    0
118874    0
181471    0
167355    0
114981    0
Name: label, Length: 49998, dtype: int64

In [14]:
x_train = x_train[:1000]
x_test = x_test[:1000]
y_train = y_train[:1000]
y_test = y_test[:1000]
#데이터 분할이후에 데이터가 많으므로 데이터를 1000개만 가져옴

In [15]:
from konlpy.tag import Okt
okt = Okt()

In [16]:
#명사 토큰화
okt.nouns('북런던은 아스날이 지배한다.')

['북', '런던', '아스날', '지배']

In [17]:
#입력 문장이 들어왔을 때 명사만 토큰화시키는 함수
def Tokenizer(text):
    return okt.nouns(text)

In [18]:
#tf-idf
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(tokenizer=Tokenizer)
#모델 선정

In [19]:
tfidf.fit(x_train[:5])
#모델 학습

C:\Users\user\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

TfidfVectorizer(tokenizer=<function Tokenizer at 0x0000015CD12915E0>)

In [20]:
tfidf.vocabulary_
#모델 학습 후 생성된 단어 사전을 연다

{'남자': 3,
 '친구': 22,
 '둘': 5,
 '진짜': 20,
 '고역': 1,
 '예고편': 15,
 '게이물': 0,
 '티': 23,
 '안내면': 13,
 '실제': 12,
 '완전': 16,
 '뒤': 6,
 '수록': 10,
 '막장드라마': 8,
 '전개': 18,
 '영화': 14,
 '한계': 25,
 '젠': 19,
 '생각': 9,
 '마': 7,
 '더': 4,
 '이상': 17,
 '피해자': 24,
 '스크레치남기': 11,
 '집': 21,
 '구경': 2}

## pos tagging
- 문장을 토큰화한 후 조개진 형태소에 품사를 부여하는 것

In [21]:
data = '오늘 날씨가 추워서 기분이 좋지 않다.'

In [22]:
okt.morphs(data)
#형태소 분리

['오늘', '날씨', '가', '추워서', '기분', '이', '좋지', '않다', '.']

In [23]:
okt.pos(data)
#품사 태깅

[('오늘', 'Noun'),
 ('날씨', 'Noun'),
 ('가', 'Josa'),
 ('추워서', 'Adjective'),
 ('기분', 'Noun'),
 ('이', 'Josa'),
 ('좋지', 'Adjective'),
 ('않다', 'Verb'),
 ('.', 'Punctuation')]

In [24]:
okt.tagset
#okt의 태그들을 확인하는 함수

{'Adjective': '형용사',
 'Adverb': '부사',
 'Alpha': '알파벳',
 'Conjunction': '접속사',
 'Determiner': '관형사',
 'Eomi': '어미',
 'Exclamation': '감탄사',
 'Foreign': '외국어, 한자 및 기타기호',
 'Hashtag': '트위터 해쉬태그',
 'Josa': '조사',
 'KoreanParticle': '(ex: ㅋㅋ)',
 'Noun': '명사',
 'Number': '숫자',
 'PreEomi': '선어말어미',
 'Punctuation': '구두점',
 'ScreenName': '트위터 아이디',
 'Suffix': '접미사',
 'Unknown': '미등록어',
 'Verb': '동사'}

In [25]:
df = pd.DataFrame(okt.pos(data),columns=['morph','tag'])
df.set_index('tag',inplace=True)
#형태소 분석한 데이터 데이터프레임화
#인덱스를 tag로 사용, inplace=True로 줘야지 원본 데이터도 바뀐다.

In [26]:
df

            morph
tag
Noun           오늘
Noun           날씨
Josa            가
Adjective     추워서
Noun           기분
Josa            이
Adjective      좋지
Verb           않다
Punctuation     .

In [27]:
df.loc[['Noun','Adjective','Verb']]
#명사,동사,형용사 추출

          morph
tag
Noun         오늘
Noun         날씨
Noun         기분
Adjective   추워서
Adjective    좋지
Verb         않다

In [28]:
def Tokenizer1(text):
    #텍스트가 들어오면 데이터 프레임화
    df  = pd.DataFrame(okt.pos(text),columns=['morph','tag'])
    df.set_index('tag',inplace=True)
    
    #품사 태깅한 값이 명사,형용사,동사일 때 값 추출하기
    if('Noun' in df.index)|('Adjective' in df.index)|('Verb' in df.index):
        labels =['Noun',"Adjective","Verb"]
        return df.loc[df.index.intersection(labels)]['morph'].values
    #intersection(): 괄호 안의 데이터의 교집합 포함
    else:
        return []

In [29]:
Tokenizer1(data)

array(['오늘', '날씨', '기분', '추워서', '좋지', '않다'], dtype=object)

In [30]:
tfidf=TfidfVectorizer(tokenizer=Tokenizer1)
#모델 선정

In [31]:
tfidf.fit(x_train[:3])
#모델 학습

C:\Users\user\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

TfidfVectorizer(tokenizer=<function Tokenizer1 at 0x0000015CD11AAEE0>)

In [32]:
tfidf.vocabulary_
#단어사전

{'남자': 6,
 '친구': 23,
 '둘': 7,
 '진짜': 22,
 '고역': 4,
 '예고편': 18,
 '게이물': 3,
 '티': 24,
 '안내면': 15,
 '실제': 14,
 '완전': 19,
 '갔다가': 1,
 '나왔네요': 5,
 '였습니다': 16,
 '보니': 10,
 '서먹해져서': 12,
 '뒤': 8,
 '수록': 13,
 '막장드라마': 9,
 '전개': 21,
 '영화': 17,
 '한계': 25,
 '갈': 0,
 '이런': 20,
 '거지같은': 2,
 '보지마라': 11}

In [33]:
len(tfidf.vocabulary_)

26

In [34]:
tfidf=TfidfVectorizer(tokenizer=Tokenizer1)
tfidf.fit(x_train)
#모델 선정 및 학습

C:\Users\user\anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:516: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

TfidfVectorizer(tokenizer=<function Tokenizer1 at 0x0000015CD11AAEE0>)

In [35]:
#동사,형용사,일반명사만 추출해서 만들어진 단어 모음의 개수를 확인
len(tfidf.vocabulary_)

4047

In [36]:
#토큰화된 단어를 기계가 이해할 수 있도록 벡터형태로 변환-임베딩
x_train = tfidf.transform(x_train)
x_test = tfidf.transform(x_test)

## 모델

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
lr = LogisticRegression()
#모델선정(로지스틱회귀)

In [39]:
lr.fit(x_train,y_train)
#모델 학습

LogisticRegression()

In [40]:
lr.score(x_test,y_test)
#분류모델이므로 model.score()의 기준 = Accuracy

0.703